<template name='navigation'>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{> navBrand}}
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                {{> navItems}}
                {{> loginButtons }}
            </ul>
        </div>
    </div>
</template>

<template name="navBrand">
    <a class="navbar-brand" href="/">Kellot</a>
</template>

<template name='navItems'>
    {{#if currentUser}}
        <li class="{{ activeIfTemplateIs 'Timecard' }}"><a href="{{pathFor 'timecard'}}">Табель</a></li>
        <li class="{{ activeIfTemplateIs 'Staff' }}"><a href="{{pathFor 'staff'}}">Сотрудники</a></li>
        <li class="dropdown {{ activeIfTemplateIs 'Department|Holiday' }}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="{{ activeIfTemplateIs 'Department' }}"><a href="{{pathFor 'department'}}">Подразделения</a>
                </li>
                <li class="{{ activeIfTemplateIs 'Holiday' }}"><a href="{{pathFor 'holiday'}}">Праздники</a></li>
            </ul>
        </li>
        <li class="{{ activeIfTemplateIs 'Company|RegisterNewCompanyForm|UpdateCompanyForm' }}"><a
                href="{{pathFor 'company'}}">Моя компания</a></li>
        <!-- <li class="{{ activeIfTemplateIs 'UserProfile' }}"><a href="{{pathFor 'userProfile'}}">Личный кабинет</a></li> -->
    {{else}}
        <!-- <li class="{{ activeIfTemplateIs 'LoginForm' }}"><a href="{{pathFor 'loginForm'}}">Вход</a></li> -->
    {{/if}}
</template>
