<template name="index">
    <p class="text-center">
        <img src="/img/kellot.png" class="img-responsive center-block" alt="Kellot - автоматизация выпуска табеля учёта рабочего времени.">
    </p>

    <p>Добро пожаловать в онлайн табель учёта рабочего времени по формам Т-12 и Т-13!</p>
    <p>Наш сервис нацелен на максимальную автоматизацию деятельности
        сотрудников отдела кадров любого предприяия Россиейской Федерации.</p>
    <p>Внимание! Сервис находится в стадии разработки, но Вы уже сейчас можете зарегистрироваться и начать пользоваться нашим сервисом.</p>
    <p>Уже сейчас Вы можете использовать следующие функции нашего табеля:</p>
    <ul>
        <li>Ведение табеля в онлайн режиме</li>
        <li>Ведение базы даных сотрудников</li>
        <li>Ведение справочников праздников и подразделений</li>
        <li>Экспорт табеля по форме Т-12 в PDF для печати</li>
        <li>Приглашение кадровиков Вашей компании к совместному ведению табеля (в разработке)</li>
    </ul>
    <p>Мы очень ждём Ваших отзывов. сообщений об ошибках и предложений по работе приложения!</p>
</template>
