<template name="addFormButton">
  <a href="{{pathFor formName}}">
    <button class="btn btn-fab btn-fab btn-raised btn-primary top-right-pos"><i class="mdi-content-add-circle-outline"></i></button>
  </a>
</template>

<template name="updateFormButton">
  <a href="{{pathFor formName}}">
    <button class="btn btn-fab btn-fab btn-raised btn-primary top-right-pos"><i class="mdi-content-create"></i></button>
  </a>
</template>

<template name="backFormButton">
  <a href="{{pathFor formName}}">
    <button class="btn btn-fab btn-fab btn-raised btn-primary top-right-pos"><i class="mdi-content-save"></i></button>
  </a>
</template>

<template name="submitInsertFormButtons">
  <button type="submit" class="btn btn-primary">Добавить</button>
</template>

<template name="submitUpdateFormButtons">
  <button type="submit" class="btn btn-primary">Сохранить</button>
  <button type="reset" class="btn btn-default">Сбросить</button>
</template>

<template name="tableActions">
  <a id="confirm-delete" href="#" class="delete action-right" data-collection="{{collection}}" data-id="{{id}}"><i class="mdi-action-description"></i></a>
  <a id="confirm-edit" href="{{pathFor updateFormName _id=id }}" class="edit action-right" data-id="{{id}}"><i class="mdi-content-flag"></i></a>
</template>

<template name="pageTitle">
  <h2><div class="icon-preview"><i class="mdi-social-group"></i></div>{{pageTitle}}</h2>
</template>

<template name="helpMessage">
<div class="top-right-pos-help">
  {{helpMessage}}
</div>
</template>
