<template name="company">
    {{> viewCompanyForm}}
</template>

<template name="viewCompanyForm">
    <div id="company" style="height:550px">
        {{#with userCompany}}
            {{> helpMessage helpMessage='На этой странице находятся общие сведения о Вашей компании и общая статистика. Постепенно информации здесь будет становиться всё больше.'}}
            <h2>
                <div class="icon-preview"><i class="mdi-social-people-outline"></i></div>{{title}}</h2>
            {{> updateFormButton formName="updateCompanyForm"}}

            <div class="col-lg-3">
                <div class="bs-component">
                    <h2>Приглашения</h2>
                    {{> inviteListFlat}}
                </div>
            </div>

            <div class="col-lg-5">
                <div class="bs-component">
                    <h2>Реквизиты</h2>
                    <h4>Краткое описание</h4>
                    <p>{{description}}</p>
                    <button id="purchaseBalance" class="btn btn-flat btn-danger" style="width:100%">Баланс счёта: 0. Пополнить</button>
                    <h4>Тарифный план: Бесплатно</h4>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bs-component">
                    <h2>Статистика</h2>
                    {{> companyStatistics}}
                </div>
            </div>
        {{/with}}
    </div>

</template>

<template name="companyFieldset">
    <fieldset>
        {{> afQuickField name='title'}}
        {{> afQuickField name='description' rows=3}}
    </fieldset>
</template>

<template name="requestInviteToCompany">
    Пожалуйста введите код своего приглашения в поле ниже и нажмите кнопку "Активировать приглашение".<br/>
    В случае, если У вас отсутствует приглашение - сообщите Вашему менеджеру по
    кадровой работе о необходимости предоставить Вам приглашение или зарегистрируйте новую компанию!<br/><br/>

    Подождите, эта страница пока не готова.
</template>

<template name="firstLoginForm">
    Добро пожаловать в онлайн табель учёта рабочего времени!<br/><br/>

    Похоже, Вы только что зарегистрировались?<br/><br/>

    Прежде чем Вы сможете перейти к основным функциям, Вы можете создать новую компанию или,
    если у Вас в почтовом ящике имеется приглашение - присоединиться к существующей!

    <p class="text-center center-block" style="width: 500px;">
        <button class="btn btn-primary btn-block" id="buttonCreateCompany">Зарегистрировать новую компанию</button>
        <button class="btn btn-primary btn-block" id="buttonRequestInviteToCompany">Присоединиться к существующей компании</button>
    </p>

</template>

<template name="registerNewCompanyForm">
    {{#autoForm collection="Company" id="registerNewCompanyForm" type="insert"}}
        {{> helpMessage helpMessage='Привет! Судя по всему Вы только что зарегистрировались. Для начала, Вам необходимо ввести самые основные сведения о своей компании! После заполнения данной информации, Вам станут доступны другие пункты меню.'}}
        <h2>
            <div class="icon-preview"><i class="mdi-social-group"></i></div>
            Зарегистрировать новую компанию
        </h2>
        {{> companyFieldset}}
        {{> submitInsertFormButtons}}
    {{/autoForm}}
</template>

<template name="updateCompanyForm">
    {{#autoForm collection="Company" doc=userCompany id="updateCompanyForm" type="update"}}
        <h2>
            <div class="icon-preview"><i class="mdi-social-group"></i></div>
            Редактировать информцию о компании
        </h2>
        {{> companyFieldset}}
        {{> submitUpdateFormButtons}}
        {{> backFormButton formName="company"}}
    {{/autoForm}}
</template>