.well {
  position: relative;
}

.top-right-pos {
  position: absolute;
  right: -30px;
  top: 20px;
}

.top-right-pos-help {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size:9pt;
  max-width:450px;
  font-style: italic;
  text-align: right;
}

.top-right-pos-btns {
  position: absolute;
  right: 20px;
  top: 50px;
}

.action-right {
  float:right;
}

#floating-action-button .btn {
  margin: 20px;
}
#floating-action-button h2 {
  padding: 14px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.icon-preview {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #D5D5D5;
  border-radius: 3px;
  cursor: pointer;
}

.icon-preview-transparent {
  display: block;
  margin: 10px;
}

body {
  background-image: url(/img/subtle_textured_light_background.jpg);
}

#connection-lost-banner {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  margin-top: 0px;
}

body .well {
  min-height:100px;
}

th.departments {
  width: 50%;
}

#timcardTable td.d1, #timcardTable td.d2, #timcardTable td.d3, #timcardTable td.d4, #timcardTable td.d5, #timcardTable td.d6, #timcardTable td.d7, #timcardTable td.d8,
#timcardTable td.d9, #timcardTable td.d10, #timcardTable td.d11, #timcardTable td.d12, #timcardTable td.d13, #timcardTable td.d14, #timcardTable td.d15, #timcardTable td.d16,
#timcardTable td.d17, #timcardTable td.d18, #timcardTable td.d19, #timcardTable td.d20, #timcardTable td.d21, #timcardTable td.d22, #timcardTable td.d23, #timcardTable td.d24,
#timcardTable td.d25, #timcardTable td.d26, #timcardTable td.d27, #timcardTable td.d28, #timcardTable td.d29, #timcardTable td.d30, #timcardTable td.d31, #timcardTable td.hospitalDays,
#timcardTable td.workHoursAndMinuts,  #timcardTable td.workHours,  #timcardTable td.workHoursAndMinutsAtHolidays,  #timcardTable td.workHoursAtHolidays {
  text-align: center;
}

.timecardNotEditedTd { background-color: gainsboro !important; }
