.well {
  position: relative;
}

.top-right-pos {
  position: absolute;
  right: -30px;
  top: 20px;
}

.top-right-pos-help {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size:9pt;
  max-width:450px;
  font-style: italic;
  text-align: right;
}

.top-right-pos-btns {
  position: absolute;
  right: 20px;
  top: 50px;
}

.action-right {
  float:right;
}

#floating-action-button .btn {
  margin: 20px;
}
#floating-action-button h2 {
  padding: 14px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.icon-preview {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #D5D5D5;
  border-radius: 3px;
  cursor: pointer;
}

.icon-preview-transparent {
  display: block;
  margin: 10px;
}

body {
  background-image: url(/img/subtle_textured_light_background.jpg);
}

#connection-lost-banner {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  margin-top: 0px;
}

body .well {
  min-height:100px;
}

th.departments {
  width: 50%;
}
